.container {
    width: 100vw;
    height: 100%vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
   
}

.container button {
    background-color: purple;
    display: flex;
    flex-direction:column;
    align-items: center;
    color: white;
    margin: 5px;
}

.header {
    padding: 0px;
    align-content: flex-start;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 80%;
}

.header li {
    min-width: 25px;
}

.titleStyle {
    display:flex;
    align-items: center;

}

.textStyle {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    max-width: 435px;
    padding: 0px;
}

.textStyle button {
    max-width: 80px;
}


